body {
  background-color: #fff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  color: currentColor;
  font-family: inherit;
}

header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.section {
  padding: 120px 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header section */

.logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.167;
}

.header-logo {
  color: #2e2f42;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
}

.nav-menu-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link-item {
  position: relative;
  display: flex;
  padding: 24px 0;
  color: #2e2f42;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-item::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-link-item.current,
.nav-link-item:hover,
.nav-link-item:focus {
  color: #404bbf;
}

.nav-link-item.current:after,
.nav-link-item:hover::after,
.nav-link-item:focus::after,
.nav-link-item:active::after {
  transform: scaleX(1);
}

.nav-link-item.current {
  color: #404bbf;
}

.contact-wrapper {
  margin-left: auto;
}

.contact-list {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.contact-item {
  display: flex;
}

.contact-link {
  color: #434455;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero section */

.hero-section {
  min-height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #2e2f42;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Features section */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  column-gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.icon-wrapper {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.features-subtitle {
  margin-bottom: 8px;
}

.features-subtitle,
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Team section */

.team-list {
  display: flex;
  column-gap: 24px;
}

.team-subtitle,
.team-text {
  text-align: center;
}

.team-section {
  background-color: #f4f4fd;
}

.team-card {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-wrapper {
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.social-links-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 24px;
  margin-top: 8px;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* Portfolio section */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0 rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-card:hover .portfolio-overlay,
.portfolio-card:focus .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-wrapper {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-text {
  margin-top: 8px;
  color: #434455;
}

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-wrapper {
  margin-right: 120px;
}

.footer-logo {
  color: #f4f4fd;
  text-transform: uppercase;
}

.logo-bottom {
  margin: 0;
  padding: 0;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
  color: #f4f4fd;
}

.footer-social-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer .social-links-list {
  gap: 16px;
  margin-top: 16px;
}

.footer .social-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:focus,
.footer .social-link:hover {
  background-color: #31d0aa;
}

.subscribe-form-wrapper {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.subscribe-form-input {
  width: 264px; /*100%*/
  height: 40px;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}

.subscribe-form-input:focus {
  border-color: #31d0aa;
}

.subscribe-form-button {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background-color: #31d0aa;
}

.subscribe-form-icon {
  fill: #fff;
}

/* Overlay and hero modal */

.hero-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.hero-modal {
  position: relative;
  width: 408px;
  min-height: 584px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-backdrop:not(.is-open) .hero-modal {
  transform: scale(1.5);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition-property: background-color, border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border-color: transparent;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: #fff;
}

.contact-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.contact-form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.contact-form-wrapper {
  position: relative;
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field:focus-within .contact-form-input {
  border-color: #4d5ae5;
}

.contact-form-field:focus-within .contact-form-icon {
  fill: #4d5ae5;
}

.contact-form-textarea {
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-field {
  margin-bottom: 16px;
}

.contact-form-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.contact-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-field {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-checkbox-icon {
  opacity: 0;
  fill: #fff;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox:checked + .checkbox-label > .custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.contact-form-checkbox:checked + .checkbox-label .custom-checkbox-icon {
  opacity: 1;
}

.privacy-policy-link {
  margin-left: 4px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}
